.habitTrackerContainer {
  margin-top: 40px;
  padding: 24px;
  border: 1px solid $gray-200;
  border-radius: 20px;
  overflow-x: auto;

  .title {
    margin-bottom: 24px;
    text-align: left;
    font-size: 24px;
    font-weight: 800;
  }

  p {
    min-height: 200px;
    margin-top: 115px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: $gray-300;
  }
}

.habitTrackerContent {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.days {
  display: flex;
  justify-content: space-around;
  height: 26px;
  font-size: 18px;
  font-weight: 400;
  color: $gray-300;
}

@media (max-width: $tablet) {
  .habitTrackerContainer {
    margin-top: 24px;
  }
}

@media (max-width: $mobile) {
  .habitTrackerContainer {
    margin-top: 24px;
  }

  .days > div {
    display: flex;
    justify-content: center;
    width: 64px;
  }
}
