.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .titleContainer h1 {
    font-size: 32px;
    font-weight: 800;
    color: #414141;
  }
  
  .buttonContainer {
    display: flex;
    gap: 16px;
  }
  
  .habitButton, .homeButton {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    color: #818181;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .habitButton:hover, .homeButton:hover {
    background-color: #4caf50;
    color: white;
  }
  