.header {
  display: flex;
  justify-content: space-between; /* 제목은 왼쪽, 버튼은 오른쪽으로 배치 */
  align-items: center;
  width: 100%; /* 100% 너비 차지 */
  padding: 20px 0; /* 위아래 여백 */
}

.titleContainer {
  display: flex;
  align-items: center; /* 제목을 세로로 중앙 정렬 */
}

.titleContainer h1 {
  font-size: 32px;
  font-weight: 800;
  color: #414141;
  margin: 0;
}

.buttonContainer {
  display: flex;
  gap: 16px; /* 버튼 간격 */
}

.focusButton, .homeButton {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: #818181;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.focusButton:hover, .homeButton:hover {
  background-color: #4caf50;
  color: white;
}

    