.studyCard {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 358px;
  height: 243px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 20px;
  &.green {
    background: #e1edde;
    .creatorNick {
      color: #578246;
    }
  }

  &.yellow {
    background: #fff1cc;
    .creatorNick {
      color: #c18e1b;
    }
  }

  &.blue {
    background: #e0f1f5;
    .creatorNick {
      color: #418099;
    }
  }

  &.pink {
    background: #fde0e9;
    .creatorNick {
      color: #bc3c6a;
    }
  }

  &.tablet {
    background-image: url("/src/assets/background/tablet.jpg");
    background-size: cover;
    background-position: center;
  }
  &.laptop {
    background-image: url("/src/assets/background/laptop.jpg");
    background-size: cover;
    background-position: center;
  }
  &.tile {
    background-image: url("/src/assets/background/tile.jpg");
    background-size: cover;
    background-position: center;
  }
  &.leaf {
    background-image: url("/src/assets/background/leaf.jpg");
    background-size: cover;
    background-position: center;
  }

  &.tablet,
  &.laptop,
  &.tile,
  &.leaf {
    color: #fff;

    background-blend-mode: multiply; /* 혼합 모드 */
    background-color: rgba(0, 0, 0, 0.3); /* 배경색만 반투명 */
    .studyContent h3,
    .studyContent p,
    .studyStats {
      color: #fff;
    }
  }

  &.green,
  &.yellow,
  &.blue,
  &.pink,
  &.default {
    .studyContent h3,
    .studyContent p,
    .studyStats {
      color: inherit;
    }
  }

  &.tablet,
  &.laptop,
  &.tile,
  &.leaf {
    color: #fff;
  }

  &.default {
    background: #f9f9f9;
  }
}

.studyContent {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
      font-size: 14px;
    }
  }
}

.studyContent h3 {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.studyContent p {
  color: #555;
  font-size: 16px;
}

.studyStats {
  display: flex;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 0;
  gap: 5px;
  padding-left: 30px;
}

.studyTitle {
  display: flex;
  justify-content: space-between;
}
