.studyCard {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 358px;
  height: 243px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  border: 1px solid #ddd;
  padding: 30px;

  &.green {
    background: #e1edde;
  }

  &.yellow {
    background: #fff1cc;
  }

  &.blue {
    background: #e0f1f5;
  }

  &.pink {
    background: #fde0e9;
  }

  &.tablet {
    background-image: url("/src/assets/background/tablet.jpg");
    background-size: cover;
    background-position: center;
  }
  &.laptop {
    background-image: url("/src/assets/background/laptop.jpg");
    background-size: cover;
    background-position: center;
  }
  &.tile {
    background-image: url("/src/assets/background/tile.jpg");
    background-size: cover;
    background-position: center;
  }
  &.leaf {
    background-image: url("/src/assets/background/leaf.jpg");
    background-size: cover;
    background-position: center;
  }

  &.tablet,
  &.laptop,
  &.tile,
  &.leaf {
    color: #fff;

    .studyContent h3,
    .studyContent p,
    .studyStats {
      color: #fff;
    }
  }

  &.green,
  &.yellow,
  &.blue,
  &.pink,
  &.default {
    .studyContent h3,
    .studyContent p,
    .studyStats {
      color: inherit;
    }
  }

  &.tablet,
  &.laptop,
  &.tile,
  &.leaf {
    color: #fff;
  }

  &.default {
    background: #f9f9f9;
  }
}

.studyContent {
  text-align: left;
}

.studyContent h3 {
  font-size: 18px;
  font-weight: bold;
}

.studyContent p {
  color: #555;
  font-size: 14px;
}

.studyStats {
  display: flex;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 0;
  gap: 5px;
  padding-left: 30px;
}

.studyTitle {
  display: flex;
  justify-content: space-between;
}
