// Grayscale
$black: #414141;
$gray-300: #818181;
$gray-200: #dddddd;
$gray-100: #eeeeee;
$bg: #f6f4ef;

// Brand
$brand: #99c08e;

// Error (Red)
$error-300: #c41013;
$error-200: #f50e0e;
$error-100: #ffa3a5;

// Green
$green: #e1edde;
$green-text: #578246;

// Yellow
$yellow: #fff1cc;
$yellow-text: #c18e1b;

// Blue
$blue: #e0f1f5;
$blue-text: #418099;

// Pink
$pink: #fde0e9;
$pink-text: #bc3c6a;

// radius
$radius-sm: 16px;
$radius-md: 20px;
$radius-lg: 32px;