@use "@/styles/variables" as *;

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.titleContainer {
  font-weight: 800;
  font-size: 24px;
  color: $black;
}

.btnContainer {
  display: flex;
  gap: 8px;
  row-gap: 16px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $gray-300;
  border-radius: 15px;
  border: 1px, solid, $gray-200;
  padding: 7px 6px 7px 10px;
  font-weight: 500;
  font-size: 16px;
  gap: 2px;
}

    