.globalNavigationBar {
  width: 100%; // 반응형을 위한 전체 너비
  height: 100px;
  background-color: #f6f4ef;
  display: flex;
  justify-content: space-between; // 로고와 버튼 간 간격 조정
  align-items: center;
  padding: 0 20px;
  max-width: 1440px;
  margin: 0 auto;

  .logo {
    margin-left: calc(220px - 10vw); // 뷰포트 너비에 따라 좌측 여백 조정
    width: 181.6px; // 로고 너비
    height: 60px; // 로고 높이
    cursor: pointer;
  }

  .ctaButton {
    margin-right: calc(220px - 10vw); // 뷰포트 너비에 따라 우측 여백 조정
    width: 252px; // 버튼 너비
    height: 58px; // 버튼 높이
    background-color: #99c08e; // 버튼 배경 색상
    color: #ffffff; // 버튼 텍스트 색상
    text-align: center;
    line-height: 58px; // 텍스트 수직 정렬
    border-radius: 16px; // 둥근 모서리
    font-size: 16px; // 텍스트 크기
    font-weight: bold; // 텍스트 굵기
    cursor: pointer;

    &.disabled {
      display: none; // 버튼을 완전히 숨김
    }
  }
}
