@use "../../styles/_variables.scss";

.globalNavigationBar {
  width: 100%; // 반응형을 위한 전체 너비
  max-width: 1400px;
  height: 100px;
  display: flex;
  justify-content: space-between; // 로고와 버튼 간 간격 조정
  align-items: center;
  
  margin: 0 auto;

  .logo {
    cursor: pointer;
  }

  .ctaButton {
    cursor: pointer;

    &.disabled {
      display: none; // 버튼을 완전히 숨김
    }
  }
}

@media (max-width: 1023px) {
  .globalNavigationBar {
    padding: 0 24px;

  }
}

@media (max-width: 767px) {
  .globalNavigationBar {
    padding: 0 16px;

    .logo {
      width: 106px;
      height: 35.02px;
    }
  }
}
