.habit-list button {
  width: 400px;
  height: 54px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
}

.habit-list .active {
  background-color: $brand;
  color: #fff;
}

.habit-list .inactive {
  background-color: $gray-100;
  color: $gray-300;
}
