@use "@/styles/variables" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 942px;
  margin: 0px 15px 0px 15px;
  padding-top: 20px;
}

.focusContainer {
  background-color: #ffffff ;
  width: 100%;
  max-width: 1248px;
  padding: 16px;
  border-radius: $radius-md;
}

 