.container {
  margin: 0 300px;
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;
  flex-wrap: wrap;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 24px;
}

.studyName {
  font-size: 32px;
  font-weight: 800;
}

.link {
  display: flex;
  justify-content: right;
  gap: 16px;
}

.link button {
  padding: 12px 44px 12px 24px;
  border: 1px solid #dddddd;
  border-radius: 15px;
  background: url("../assets/icons/ic_arrow_right.svg") no-repeat right 12px
    center;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #818181;
}

.currentTime {
  margin-top: 16px;
  flex-basis: 1;
  order: 3;

  .text {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #818181;
  }

  .tag {
    display: inline-flex;
    padding: 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }
}

.section {
  display: grid;
  justify-content: center;
  padding: 40px 24px;
  border: 1px solid #dddddd;
  border-radius: 20px;
}

.habitBar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 24px;
  padding: 0 135px;
}

.habitTitle {
  font-size: 24px;
  font-weight: 800;
}

.editBtn {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #818181;
}

.habitList {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #818181;
}

@media (max-width: 1199px) {
  .container {
    margin: 0 24px;
  }
}

@media (max-width: 743px) {
  .container {
    margin: 0 16px;
  }

  .section {
    padding: 24px 16px;
  }
}
