.studyRegistrationPageLayout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.studyRegistration {
  width: 100%;
  max-width: 696px;
  background-color: #ffffff;
  border-radius: $radius-md;
  padding: 24px 24px 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 107px;

  @include mobile {
    padding: 16px 16px 20px 16px;
    margin: 40px 16px 100px 16px;
    width: calc(50%);
    min-width: 350px;
  }

  .formContainer {
    width: 100%;
    max-width: 648px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h2 {
      font-family: Pretendard;
      font-weight: 800;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      text-align: left;
      width: 100%;
      margin-bottom: 16px;
    }

    .inputGroup {
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      min-height: 80px;

      label {
        font-family: pretendard;
        font-size: 18px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        margin-bottom: 5px;
      }

      input,
      textarea {
        width: 100%;
        height: 48px;
        margin: 16px 0 8px 0;
        padding: 15px 0 14px 20px;
        border: 1px solid $gray-200;
        border-radius: $radius-sm;
        box-sizing: border-box;

        &:focus {
          border-color: $black;
          outline: none;
          transition-duration: 0.3s;
        }
      }

      textarea {
        resize: none;
        min-height: 100px;
      }

      .errorText {
        width: 100%;
        left: 0;
        font-size: 14px;
        color: $error-300;
      }
    }

    .backgroundSelection {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      justify-content: center; /* 추가: 오른쪽 정렬 */
      width: 100%;
      margin: 16px 0 8px 0;
    }

    .bgOption {
      position: relative;
      width: 150px;
      height: 150px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: $radius-sm;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        border-radius: $radius-sm;
      }
    }

    .colorBg {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $radius-sm;
    }

    .selectedIcon {
      position: absolute;
      left: 59px;
      width: 32px !important;
      z-index: 1;
    }

    .submitButtonWrapper {
      margin-top: 24px;
    }
  }
}

.error {
  border-color: $error-300 !important;
}
