.linkButton {
  padding: 0.75rem 1rem 0.75rem 1.5rem;
  border: 1px solid $gray-200;
  border-radius: $radius-sm;
  background-color: #ffffff;
  color: $gray-300;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $gray-100;
    transition: background-color 0.3s;
  }

  @include mobile {
    padding: 0.5rem 0.375rem 0.5rem 0.625rem;
  }
}

.arrowIcon {
  margin-left: 0.25rem;
  opacity: 0.6;
}
