.linkButton {
  padding: 12px 16px 12px 24px;
  border: 1px solid $gray-200;
  border-radius: $radius-sm;
  background-color: #ffffff;
  color: $gray-300;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $gray-100;
    transition: background-color 0.3s;
  }

  @include mobile {
    padding: 8px 6px 8px 10px;
  }
}

.arrowIcon {
  margin-left: 4px;
  opacity: 0.6;
}
