.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 648px;
  height: 369px;
  padding: 40px 24px; /* 세로 40, 가로 24 */
  border-radius: $radius-md; /* 모서리 반경 */
  background: white; /* 배경색 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
  }

  @include mobile {
    width: 90vw;
    height: auto;
    padding: 24px 16px;
  }
}

.modal p {
  font-size: 18px; /* 폰트 크기 */
  color: $gray-300; /* 색깔 */
}

.buttonGroup {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.modificationButton {
  background: none;
  border: none;
  cursor: pointer;
}

.modificationButton img {
  width: 100%; /* 이미지 크기 조정 */
  height: auto;
}

.modal header {
  display: flex;
  justify-content: center; /* 전체 중앙 정렬 */
  align-items: center; /* 세로 정렬 */
  position: relative; /* 버튼 위치를 조정하기 위해 상대 위치 설정 */
}

header h2 {
  margin: 0; /* 타이틀의 여백 제거 */
  flex-grow: 1; /* 타이틀이 공간을 차지 */
  text-align: center; /* 타이틀 중앙 정렬 */
  font-size: 24px; /* 폰트 크기 */
}

header button {
  position: absolute; /* 버튼을 절대 위치로 설정 */
  right: 0; /* 오른쪽 끝에 배치 */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px; /* 폰트 크기 */
  color: $green-text; /* 색깔 */
}

.passwordInput {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  gap: 16px; /* 레이블과 입력 필드 간격 */
}

.passwordInput p {
  margin: 0; /* 레이블의 여백 제거 */
  font-size: 18px; /* 폰트 크기 */
  font-weight: 600;
  color: $black;
}

.passwordInput input {
  width: 100%; /* 입력 필드가 부모 너비를 채움 */
  padding: 12px 20px; /* 세로 12, 가로 20 */
  border: 1px solid #ccc; /* 테두리 스타일 */
  border-radius: $radius-sm; /* 모서리 반경 */
  height: 48px; /* 세로 크기 */
  &:focus {
    outline: 1px solid #777777; /* 진한 회색 아웃라인 */
  }
}

.inputWrapper {
  display: flex;
  align-items: center; /* 수직 정렬 */
  width: 100%;
  position: relative; /* 버튼 위치 조정을 위해 상대 위치 */
}

.inputWrapper input {
  flex: 1; /* 입력 필드가 남은 공간을 채움 */
}

.toggleButton {
  position: absolute; /* 버튼을 입력 필드 안에 배치 */
  right: 20px; /* 입력창 가로 패딩과 동일하게 설정 */
  top: 55%; /* 기존 50%에서 55%로 수정 */
  transform: translateY(-50%); /* 수직 중앙 정렬 유지 */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* 버튼 내부 여백 제거 */
}

.toggleButton img {
  width: 24px; /* 아이콘 크기 */
  height: 24px;
}
