.pointContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center; // Center vertical alignment
  background-color: transparent; // Removed background color
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px; // Updated font size
  color: rgba(255, 255, 255, 0.3); // White with 30% opacity
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3); // Added 1px border with 30% white opacity
}

.pointIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-bottom: 0;

  svg {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    margin-bottom: 0 !important; //상속여부와 상관없이 마진0
  }
}

.pointText {
  white-space: nowrap;
  color: black;
}
