.toast {
  position: fixed !important;
  bottom: 200px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;

  width: 391px !important;
  height: 47px !important;
  min-height: unset !important;
  padding: 0 !important;
  margin: 0 auto !important;

  font-weight: 500;
  font-size: 16px;
  line-height: 47px !important;
  text-align: center;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  border-radius: 12px;
  box-shadow: none !important;
  white-space: nowrap !important;

  @include tablet {
    bottom: 160px !important;
  }

  @include mobile {
    bottom: 120px !important;
  }
}

// 경고용
.toastWarning {
  background-color: $pink !important;
  color: $error-200 !important;
  padding: 0 28px !important;
}
