.toast {
  position: fixed !important;
  bottom: 40px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  z-index: 9999 !important;

  width: 391px !important;
  height: 47px !important;
  min-height: unset !important;
  padding: 0 !important;
  margin: 0 auto !important;

  font-weight: 500;
  font-size: 16px;
  line-height: 47px !important;
  text-align: center;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;

  border-radius: 12px;
  box-shadow: none !important;
  white-space: nowrap !important;

  @include tablet {
    bottom: 40px !important;
  }

  @include mobile {
    width: min(90vw, 349px) !important;
    height: 45px !important;
    bottom: 24px !important;

    font-size: 14px !important;
    padding: 14px 20px !important;
  }
}

.toastWarning {
  background-color: $pink !important;
  color: $error-200 !important;
  padding: 14px 28px !important;
}

.toastSuccess {
  background-color: $white !important;
  color: $black !important;
  padding: 14px 28px !important;
  border-radius: 12px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
}
