.studyHeader {
  margin-bottom: 1.5rem; // 24px -> 1.5rem
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    gap: 1rem; // 16px -> 1rem
    font-size: 0.75rem; // 12px -> 0.75rem
    align-items: unset;
  }
}

.studyTitle {
  margin-bottom: 1rem; // 16px -> 1rem
  display: flex;
  justify-content: space-between;

  h1 {
    font-size: 32px;
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem; // 16px -> 1rem

    h1 {
      font-size: 24px;
    }
  }
}

.studyDescription {
  margin-bottom: 1.5rem; // 24px -> 1.5rem
  font-size: 1.125rem; // 18px -> 1.125rem

  p:first-child {
    margin-bottom: 0.5rem; // 8px -> 0.5rem
    color: #818181;
  }
}

.studyOptions {
  gap: 1rem; // 16px -> 1rem
  display: flex;

  p {
    cursor: pointer;
    color: #578246;
  }

  p:last-child {
    color: #818181;
  }

  @media (max-width: $mobile) {
    gap: 0.5rem; // 8px -> 0.5rem
    justify-content: flex-end;
  }
}

.studyEmojis {
  gap: 0.25rem; // 4px -> 0.25rem
  display: flex;
}

.linkButtons {
  gap: 1rem; // 16px -> 1rem
  display: flex;

  @media (max-width: $tablet) {
    gap: 0.5rem; // 8px -> 0.5rem
  }

  @media (max-width: $mobile) {
    gap: 0.5rem; // 8px -> 0.5rem
  }
}
