.studyHeader {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.studyTitle {
  margin-bottom: 16px;
}

.studyDescription {
  margin-bottom: 24px;

  p:first-child {
    margin-bottom: 8px;
  }
}

.studyPoints {
  p:first-child {
    margin-bottom: 8px;
  }

  .point {
    width: 116px;
    height: 35px;
  }
}

.studyOptions {
  display: flex;
  gap: 16px;
}

.studyEmojis {
  display: flex;
  gap: 8px;
}
