.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.titleContainer {
  h1 {
    font-size: 32px;
    font-weight: 800;
    color: $black;
    margin: 0; // margin 제거도 추천
  }
}

.btnContainer {
  display: flex;
  gap: 16px;
}

@media (max-width: $mobile) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .titleContainer {
    h1 {
      font-size: 24px;
    }
  }

  .btnContainer {
    gap: 8px;
  }
}
