@use "@/styles/variables" as *;

.pointContainer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 16px 0px;
  flex-basis: 1;
}

.currentPoint {
  font-weight: 400;
  font-size: 18px;
  color: $gray-300;
}

.point {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px, solid, $gray-200;
  border-radius: 50px;
  padding: 8px 12px;
  gap: 4px;
  height: 35px;
  margin-right: auto;
}

.point img {
  width: 19px;
  height: 19px;
}

.totalPoint {
  font-weight: 500;
  font-size: 16px;
  color: $black;
}